
.container {
  max-width: 500px;
  margin: 50px auto;
  text-align: center;
}
.profile-image {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
}
.profile-info {
  margin-top: 20px;
}
.edit-button {
  display: inline-block;
  margin-top: 10px;
  cursor: pointer;
  text-decoration: none;
  color: blue;
}
.edit-button:hover {
  color: navy;
}
.edit-input {
  display: none;
  width: 100%;
  max-width: 300px;
  margin: 10px auto;
}
.name-container {
  position: relative;
}
.edit-name-button {
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
}
.edit-name-button img {
  width: 16px;
  height: 16px;
  vertical-align: middle;
  margin-left: 5px;
}
.back-button {
    position: absolute;
    top: 10px;
    left: 10px;
    display: inline-block;
    padding: 10px;
    background-color: transparent;
    border: none;
    font-size: 20px;
    color: #000;
    text-decoration: none;
    transition: transform 0.3s;
  }
.back-button:hover {
  color: navy;
}
.back-button::before {
  content: '\2190'; /* Left arrow unicode character */
  margin-right: 5px;
}