
body, html {
    height: 100%;
  }
  body {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .back-button {
    position: absolute;
    top: 10px;
    left: 10px;
    display: inline-block;
    padding: 10px;
    background-color: transparent;
    border: none;
    font-size: 20px;
    color: #000;
    text-decoration: none;
    transition: transform 0.3s;
  }
  .back-button:hover {
    transform: translateX(-5px);
  }
  .back-button::before {
    content: "\2190";
  }
  .container {
    position: relative;
    text-align: center;
  }
  /* Center align the form fields */
  .form-group {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
  }
  /* Adjust width of form fields */
  .form-control {
    width: 300px;
    margin: 0 10px;
  }
  /* Center align the submit button */
  button[type="submit"] {
    display: block;
    margin-left: auto;
  }
  
  /* Media query for mobile devices */
  @media (max-width: 576px) {
    .form-group {
      margin-left: 0;
    }
    button[type="submit"] {
      margin-left: 0;
      margin-right: 0;
    }
  }